* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 5px;
    border-color: black;
    margin-left: "-10rem";
}
.plab{
    font-size: 16px;
    font-weight: 600;
    color: C;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;

} 
.category, .pov{
    color: #17171d;
    border-radius: 5px;
    border-color: #000;
    border-width: 2px;
}
.category{
    height: 25px;
}
.pov{
  height: 50px;
  width: 200px;
}
.sub{
    border-radius: 5px;
    background: transparent;
    color: #17171d;
    font-size: 15px;
}